$main-color: #C88D95;
$font-color: #555555;
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ


@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

body {
    font-size: 18px;
    color: $font-color;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;

    a {
        text-decoration: none;
        color: $font-color;
    }
}

.layout {
    margin: 60px auto 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    .header__inner {
        height: 60px;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        @include tab {
        };
        .header__reservation-btn {
            background-color: $main-color;
            padding: 22px 55px;
            @include tab {
                margin-right: 60px;

            }
            a {
                color: #FFFFFF;
            }
        }
        .header__nav_toggle {
            display: none;
            @include tab {
                display: inline;
                height: 60px;
                width: 60px;
                background-color: #FFFFFF;
                position: fixed;
                top: 0;
                right: 0;
                };  
                .header__nav_toggle_icon {
                    @include tab {
                            height: 2px;
                            width: 60%;
                            background-color: $main-color;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.3s;
                            };
                            &:nth-of-type(1) {
                                @include tab {
                                    transform: translate(-50%, -15px);
                                };
                            }
                            &:nth-of-type(3) {
                                @include tab {
                                    transform: translate(-50%, 15px);
                                };
                            }
                        }
            }
            .active {
                .header__nav_toggle_icon:nth-of-type(1) {
                    @include tab {
                        transform: rotate(45deg) translate(-50%, 0);
                        transform-origin: 0% 50%;
                    };
                }
                .header__nav_toggle_icon:nth-of-type(2) {
                    @include tab {
                        opacity: 0;
                    };
                }
                .header__nav_toggle_icon:nth-of-type(3) {
                    @include tab {
                        transform: rotate(-45deg) translate(-50%, 0);
                        transform-origin: 0% 50%;
                    };
                }
            }              
        }
    }

.slides {
    .slides__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include tab {
            flex-direction: column-reverse;
            justify-content: center;
            position: relative;
        };
        .slides__gnav {
            width: 23%;
            .slides__top-logo {
                padding-left: 70px;
                @include tab {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                };
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .slides__gnav-list {
                background-color: #F4F4F4;
                text-align: center;
                padding: 15px 0;
                @include tab {
                    display: none;
                    opacity: 0;
                    transition: 0.3s;
                    pointer-events: none;
                    };

                .slides__gnav-item {
                    padding: 45px 0 45px 70px;
                    @include pc {
                        padding: 30px 0 30px 30px;
                    };
                    .slides__icon-list {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                .menu {
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
            .active {
                @include tab {
                    opacity: 1;
                    display: block;
                    pointer-events: auto;
                    width: 100%;
                    position: fixed;
                    background-color: #ffffff;
                    top: 60px;
                    left: 0;
                    right: 0;
                    transition: 0.3s;
                    .slides__gnav-item {
                        border-bottom: 1px solid #555555;
                        &:last-child {
                            border-bottom: none;
                        }
                    };
                
                }
            }
        }
        .slides__top-img {
            width: 77%;
            margin: 0 50px 0 20px ;
            @include tab {
                width: 100%;
                margin: 0;
            };
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}




.concept {
    .concept__inner {
        padding: 0 50px ;
        @include tab {
            padding: 0 30px;
        };
        @include sp {
            padding: 0 20px;
        };
        .concept__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 130px 0 70px 0;
            @include tab {
                flex-direction: column;
                justify-content: center;
            };
            .concept__left {
                width: 52%;
                margin-right: 30px;
                text-align: right;
                @include tab {
                    width: 100%;
                    margin-right: 0;
                };
                .concept__title {
                    margin-bottom: 55px;
                    @include tab {
                        margin-bottom: 45px;
                    }
                    .concept__title-border {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: 40px;
                        letter-spacing: 1px;
                        &:before {
                            content: "";
                            flex-grow: 1;
                            height: 3px;
                            background-color: $main-color;
                            margin-right: 30px;
                        }
                    }
                }
                p {
                    line-height: 45px;
                    @include tab {
                        line-height: 40px;
                        margin-bottom: 60px;
                        font-size: 20px;
                    };
                }
            }
            .concept__right {
                width: 48%;
                margin-left: 30px;
                @include tab {
                    width: 100%;
                    margin-left: 0;
                };
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.organic {
    .organic__inner {
        padding: 0 50px;
        @include tab {
            padding: 0 30px;
        };
        @include sp {
            padding: 0 20px;
        };
        .organic__container {
            padding: 70px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tab {
                flex-direction: column-reverse;
                justify-content: center;
            };
            .organic__left {
                width: 48%;
                margin-right: 30px;
                @include tab {
                    width: 100%;
                    margin-right: 0;
                };
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .organic__right {
                width: 52%;
                margin-left: 30px;
                text-align: left;
                @include tab {
                    width: 100%;
                    margin-left: 0;
                };
                .organic__title {
                    margin-bottom: 55px;
                    @include tab {
                        margin-bottom: 45px;
                    };
                    .organic__title-border {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: 40px;
                        letter-spacing: 1px;
                        &:after {
                            content: "";
                            flex-grow: 1;
                            height: 3px;
                            background-color: $main-color;
                            margin-left: 30px;
                        }
                    }
                }
                p {
                    line-height: 45px;
                    @include tab {
                        margin-bottom: 60px;
                        line-height: 40px;
                        font-size: 20px;
                    };
                }
            }
        }
    }
}


.course {
    .course__inner {
        padding: 0 50px;
        @include tab {
            padding: 0 30px;
        };
        @include sp {
            padding: 0 20px;
        };
        .course__container {
            padding: 70px 0 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tab {
                flex-direction: column;
                justify-content: center;
                padding: 70px 0 90px 0;
            };
            .course__left {
                width: 52%;
                margin-right: 30px;
                @include tab {
                    width: 100%;
                    margin-right: 0;
                };
                .course__title {
                    margin-bottom: 55px;
                    @include tab {
                        margin-right: 45px;
                    };
                    .course__title-border {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        font-size: 40px;
                        letter-spacing: 1px;
                        &:before {
                            content: "";
                            flex-grow: 1;
                            height: 3px;
                            background-color: $main-color;
                            margin-right: 30px;
                        }
                    }
                }
                .course__cut-menu {
                    .course__cut-menu-list {
                        width: 100%;
                        @include tab {
                            margin-bottom: 50px;
                        };
                        .course__cut-menu-item {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            border-bottom: 1px solid $font-color;
                            font-size: 16px;
                            letter-spacing: 1px;
                            p {
                                padding: 20px 35px 10px 30px;
                                font-weight: bold;
                                @include tab {
                                    font-size: 20px;
                                };
                                @include sp {
                                    padding: 20px 10px 10px 10px;
                                    font-size: 16px;
                                };
                            }
                        }
                    }
                }
            }
            .course__reservation-btn {
                display: none;
                @include tab {
                    display: inline-block;
                    text-align: center;
                    a {
                        color: #FFFFFF;
                        span {
                            background-color: $main-color;
                            padding: 20px 45px;
                        }
                    }
                };
            }
            .course__right {
                width: 48%;
                margin-left: 30px;
                @include tab {
                    width: 100%;
                    margin-left: 0;
                };
                .course__img-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    @include tab {
                        margin-top: 90px;
                    };
                    .course__img-box-left {
                        margin: 85px 35px 0 0;
                        @include tab {
                            margin: 85px 20px 0 0;
                        };
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .course__img-box-right {
                        margin-right: 20px;
                        @include tab {
                            margin-right: 0;
                        };
                        
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

.reservation {
    @include tab {
        display: none;
    };
    .reservation__inner {
        padding-left: 340px;
        .reservation__container {
            padding: 0 50px 100px 0;
            
            .reservation__btn {
                display: flex;
                align-items: center;
                color: #FFFFFF;
                span {
                    background-color: #C88D95;
                    padding: 15px 40px;
                }
                &:after {
                    content: "";
                    flex-grow: 1;
                    height: 3px;
                    background-color: $main-color;
                }
            }
        }
    }
}

footer {
    background-color: #F4F4F4;
    .footer__inner {
        padding: 0 125px;
        @include pc {
            padding: 0 70px;
        };
        @include sp {
            padding: 0 30px;
        };
        address {
            text-align: right;
            padding: 20px 0;
            letter-spacing: 1px;
            @include tab {
                text-align: center;
            };
        }
        .footer__container {
            padding-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tab {
                flex-direction: column-reverse;
                justify-content: center;
            };
            .footer__left {
                display: flex;
                flex-direction: row;
                line-height: 50px;
                font-weight: bold;
                @include tab {
                    justify-content: space-around;
                };
                .footer__nav1 {
                    padding-right: 100px;
                    @include tab {
                        padding-right: 0;
                    };
                }
            }
            .footer__right {
                @include tab {
                    margin: 0 auto 20px auto;
                }
            }
            
        }
    }
}